<h2 mat-dialog-title>Ingrese el nombre de su familia y el numero de acompañantes {{data.name}}</h2>
<mat-dialog-content>
    <mat-form-field class="w-full gap-3">
        <div class="flex flex-col gap-4 w-full">
            <div class="w-full">
                <mat-label>Familia:</mat-label>
                <input matInput [(ngModel)]="familia" />
            </div>
          
        </div>
    </mat-form-field>
    <mat-form-field class="w-full gap-3">
        <div class="flex flex-col gap-4 w-full">
            <div class="w-full">
                <mat-label>Acompañantes:</mat-label>
                <input type="number" matInput [(ngModel)]="numPersonas" />
            </div>
          
        </div>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button class="bg-pink-500 text-gray-50 px-10 py-3 rounded-xl" [mat-dialog-close]="onClick()" cdkFocusInitial>Enviar</button>
</mat-dialog-actions>