<div class="invitation-container" (click)="playMusic()">

    <!-- Banderines -->
    <div class="banners">
        <div [ngClass]="index % 2 === 0 ? 'flag' : 'flag2'" *ngFor="let flag of flags; let index = index">
        </div>
    </div>

     <div class="serpentinas">
        <img src="serpentinas.png" alt="Taita Carnaval" class="taita-carnaval">
    </div>

    <!-- <div class="banners">
        <div class="flag" *ngFor="let i of flags"></div>
    </div> -->

    <div class="confetti" *ngFor="let confetti of confettiArray" [style.left]="confetti.left" [style.top]="confetti.top"
        [style.backgroundColor]="confetti.color" [style.animationDelay]="confetti.delay"
        [style.animationDuration]="confetti.duration"></div>


    <!-- Texto principal -->
    <div class="content">

        <h1 class="main-title">CARNAVAL 2025</h1>
        <h2 class="subtitle">Familia Ladino</h2>
        <p class="description">Tiene el honor de invitarle(s) a usted(s) a la proclamación y exaltación de <b>Taita y Mama Carnaval 2025.</b></p>
        <p class="description">Acto galante que se llevará a cabo el sábado <b>15 de febrero del 2025</b></p>
        <p>&nbsp;</p>
        <p class="time">Lugar: Club de Clases y Policías - Ubicado en la parroquia Guanujo</p>
        <p>&nbsp;</p>
        <p class="description"><b>Nota: Traje Formal.</b></p>
    </div>

    <div class="divBotonAsistencia">
        <button class="botonAsistencia">Confirmo mi asistencia</button>
    </div>
    
    <div class="taitaCarnaval">
        <img src="taitaCarnaval.png" alt="Taita Carnaval" class="taita-carnaval">
    </div>

</div>